# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/
.idea/
*/.DS_Store
.DS_Store
important_sub.txt


# Executables
*.swf
*.air
*.ipa
*.apk
*.xlsx
*.csv
# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
